body {
	margin:0px;
	padding:0px;
}

div#head {
	background-color:#def;
	border-bottom:0.5em solid #084;
	padding:1ex;
}

div#author {
	float:right;
	color:#666;
	font-size:85%;
	text-align:right;
}

div#head h1, div#head h2 {
	margin:0px;
}

h1 {
	font-size:120%;
}

h2 {
	font-size:110%;
}

h3 {
	font-size:100%;
}

table#nav {
	width:100%;
	font-size:75%;
}

table#nav td.center {
	text-align:center;
	width:34%;
	border-left:1px solid #084;
	border-right:1px solid #084;
}

table#nav td.left {
	width:33%;
	text-align:left;
}

table#nav td.right {
	width:33%;
	text-align:right;
}

div#main {
	padding:1.5em;
}

samp {
	font-family:monospace;
	color:#00f;
}

em.msg {
	color:#888;
}

code.block {
}

code.block {
	display:block;
	white-space:pre;
	margin-left:2em;
	border-left:0.5em solid #00f;
	padding-left:0.7em;
}

