Options +Indexes

RemoveHandler .php
AddType text/plain .php

HeaderName /inc/files-header.php
ReadmeName /inc/files-footer.php
IndexOptions Charset=UTF-8 NameWidth=* DescriptionWidth=* +FancyIndexing +FoldersFirst -HTMLTable +IconsAreLinks +IgnoreCase +XHTML +SuppressHTMLPreamble

AddDescription "security advisories" adv
AddDescription "some blog buttons" buttons
AddDescription "code snippets" code
AddDescription "documents, articles, essays" doc
AddDescription "some random pictures." pix
AddDescription "talks I held" talks
AddDescription "temporary chaos" tmp

RewriteEngine On
RewriteRule ^qb-src(|/.*?)(\.qb)?$ /blog$1 [R=permanent]

RewriteRule ^(avatar|pim)(|/.*)$ - [G]
RewriteRule ^code/(amazon|calextract|frenzy|p5|pingbot|rcal|retzel|tagesschau-av500)(|/.*)$ - [G]
RewriteRule ^talks/(lastfm|planung)(|/.*)$ - [G]
RewriteRule ^pix/(050423a|060510b|060708a|060708b)(|/.*)$ - [G]
