# Generated using:
# find . | cut -b 3- | sed -e 's#.*#RewriteRule ^\0$ - [G]#' > .htaccess
RewriteEngine On
RewriteRule ^$ - [G]
RewriteRule ^media$ - [G]
RewriteRule ^media/images$ - [G]
RewriteRule ^media/images/Lplus.png$ - [G]
RewriteRule ^media/images/blank.png$ - [G]
RewriteRule ^media/images/AbstractClass_logo.png$ - [G]
RewriteRule ^media/images/T.png$ - [G]
RewriteRule ^media/images/class_folder.png$ - [G]
RewriteRule ^media/images/Tplus.png$ - [G]
RewriteRule ^media/images/Class_logo.png$ - [G]
RewriteRule ^media/images/folder.png$ - [G]
RewriteRule ^media/images/AbstractPrivateMethod.png$ - [G]
RewriteRule ^media/images/AbstractPrivateClass.png$ - [G]
RewriteRule ^media/images/function_folder.png$ - [G]
RewriteRule ^media/images/previous_button_disabled.png$ - [G]
RewriteRule ^media/images/Constant.png$ - [G]
RewriteRule ^media/images/tutorial_folder.png$ - [G]
RewriteRule ^media/images/PrivateClass.png$ - [G]
RewriteRule ^media/images/Class.png$ - [G]
RewriteRule ^media/images/PrivateVariable.png$ - [G]
RewriteRule ^media/images/AbstractMethod.png$ - [G]
RewriteRule ^media/images/AbstractClass.png$ - [G]
RewriteRule ^media/images/PrivateClass_logo.png$ - [G]
RewriteRule ^media/images/next_button_disabled.png$ - [G]
RewriteRule ^media/images/Constructor.png$ - [G]
RewriteRule ^media/images/Index.png$ - [G]
RewriteRule ^media/images/next_button.png$ - [G]
RewriteRule ^media/images/Destructor.png$ - [G]
RewriteRule ^media/images/previous_button.png$ - [G]
RewriteRule ^media/images/Lminus.png$ - [G]
RewriteRule ^media/images/Method.png$ - [G]
RewriteRule ^media/images/Interface_logo.png$ - [G]
RewriteRule ^media/images/PrivateMethod.png$ - [G]
RewriteRule ^media/images/package.png$ - [G]
RewriteRule ^media/images/Tminus.png$ - [G]
RewriteRule ^media/images/package_folder.png$ - [G]
RewriteRule ^media/images/Interface.png$ - [G]
RewriteRule ^media/images/L.png$ - [G]
RewriteRule ^media/images/private_class_logo.png$ - [G]
RewriteRule ^media/images/Function.png$ - [G]
RewriteRule ^media/images/I.png$ - [G]
RewriteRule ^media/images/AbstractPrivateClass_logo.png$ - [G]
RewriteRule ^media/images/file.png$ - [G]
RewriteRule ^media/images/StaticMethod.png$ - [G]
RewriteRule ^media/images/Variable.png$ - [G]
RewriteRule ^media/images/Global.png$ - [G]
RewriteRule ^media/images/empty.png$ - [G]
RewriteRule ^media/images/StaticVariable.png$ - [G]
RewriteRule ^media/images/tutorial.png$ - [G]
RewriteRule ^media/images/up_button.png$ - [G]
RewriteRule ^media/images/Page.png$ - [G]
RewriteRule ^media/images/Page_logo.png$ - [G]
RewriteRule ^media/banner.css$ - [G]
RewriteRule ^media/stylesheet.css$ - [G]
RewriteRule ^classtrees_default.html$ - [G]
RewriteRule ^default$ - [G]
RewriteRule ^default/_libqb.php.html$ - [G]
RewriteRule ^default/qbModule.html$ - [G]
RewriteRule ^default/_qb-0.2.php.html$ - [G]
RewriteRule ^default/_qb-0.2.conf.dist.php.html$ - [G]
RewriteRule ^default/_qbModule---qbModule.php.html$ - [G]
RewriteRule ^default/_qbOfficialModule---qbOfficialModule.php.html$ - [G]
RewriteRule ^default/_qb-0.2.conf.php.html$ - [G]
RewriteRule ^default/qbOfficialModule.html$ - [G]
RewriteRule ^todolist.html$ - [G]
RewriteRule ^__filesource$ - [G]
RewriteRule ^__filesource/fsource_qb__libqb-0.2.conf.dist.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qbModuleqbModule.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqb.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qb-0.2.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbException.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qb-0.2.conf.dist.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbRequestqbRequest.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbOfficialModuleqbOfficialModule.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbString.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__contribs9y2qbs9y2qb.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbModuleqbModule.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__contribwordpresswordpress.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qbOfficialModuleqbOfficialModule.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbExceptionqbException.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbURL.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqbToolsqbTools.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__liblibqb.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqb-0.2.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qb-0.2.conf.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__qb.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__libqb-0.2.conf.php.html$ - [G]
RewriteRule ^__filesource/fsource_qb__contribtsfixtsfix.php.html$ - [G]
RewriteRule ^classtrees_qb.html$ - [G]
RewriteRule ^elementindex_default.html$ - [G]
RewriteRule ^blank.html$ - [G]
RewriteRule ^.htaccess$ - [G]
RewriteRule ^errors.html$ - [G]
RewriteRule ^elementindex.html$ - [G]
RewriteRule ^li_default.html$ - [G]
RewriteRule ^packages.html$ - [G]
RewriteRule ^qb$ - [G]
RewriteRule ^qb/_libqb.php.html$ - [G]
RewriteRule ^qb/_lib---qb.php.html$ - [G]
RewriteRule ^qb/qbModule.html$ - [G]
RewriteRule ^qb/_qb-0.2.php.html$ - [G]
RewriteRule ^qb/_lib---qbOfficialModule---qbOfficialModule.php.html$ - [G]
RewriteRule ^qb/_lib---qbURL.php.html$ - [G]
RewriteRule ^qb/_qb-0.2.conf.dist.php.html$ - [G]
RewriteRule ^qb/_qbModule---qbModule.php.html$ - [G]
RewriteRule ^qb/_contrib---tsfix---tsfix.php.html$ - [G]
RewriteRule ^qb/_lib---qbRequest---qbRequest.php.html$ - [G]
RewriteRule ^qb/qbFileNotFoundException.html$ - [G]
RewriteRule ^qb/_lib---qbException.php.html$ - [G]
RewriteRule ^qb/_lib---qbModule---qbModule.php.html$ - [G]
RewriteRule ^qb/_lib---qb-0.2.conf.php.html$ - [G]
RewriteRule ^qb/qbTools.html$ - [G]
RewriteRule ^qb/_contrib---wordpress---wordpress.php.html$ - [G]
RewriteRule ^qb/qbException.html$ - [G]
RewriteRule ^qb/_lib---libqb.php.html$ - [G]
RewriteRule ^qb/qbURL.html$ - [G]
RewriteRule ^qb/_qbOfficialModule---qbOfficialModule.php.html$ - [G]
RewriteRule ^qb/_qb-0.2.conf.php.html$ - [G]
RewriteRule ^qb/qbOfficialModule.html$ - [G]
RewriteRule ^qb/qbSingletonException.html$ - [G]
RewriteRule ^qb/_lib---qbTools---qbTools.php.html$ - [G]
RewriteRule ^qb/qbRequest.html$ - [G]
RewriteRule ^qb/_lib---qbException---qbException.php.html$ - [G]
RewriteRule ^qb/_lib---qbString.php.html$ - [G]
RewriteRule ^qb/_lib---qb-0.2.conf.dist.php.html$ - [G]
RewriteRule ^qb/_lib---qb-0.2.php.html$ - [G]
RewriteRule ^qb/qbString.html$ - [G]
RewriteRule ^qb/_contrib---s9y2qb---s9y2qb.php.html$ - [G]
RewriteRule ^qb/_qb.php.html$ - [G]
RewriteRule ^qb/qbNotImplementedExecption.html$ - [G]
RewriteRule ^index.html$ - [G]
RewriteRule ^li_qb.html$ - [G]
RewriteRule ^elementindex_qb.html$ - [G]
